@import 'reset.css';

/* =========================================================================
                                Classe générique
========================================================================= */

    /* =========================================================================
                                    Display & position
    ========================================================================= */

    .d-flex{display: flex;}

    

    /* =========================================================================
                                    Flex Box
    ========================================================================= */

    .justify-content-center{justify-content:center;}
    .justify-content-around{justify-content:space-around;}
    .justify-content-between{justify-content:space-between;}

    .align-self-center{align-self: center;}
    .align-self-end{align-self: flex-end;}

    .align-items-center{align-items: center;}
    
    .column{flex-direction: column;}

    /* =========================================================================
                                    Margin & Padding
    ========================================================================= */
    .nomargin{margin: 0;}
    .nopadding{padding: 0;}
    .m-auto{margin:auto;}

    .mlr-auto{margin: 0 auto;}

    .m-10{margin: 10px;}

    .mt-20{margin: 20px 0;}
    

    /* =========================================================================
                                    Height + Width
    ========================================================================= */

    .h100{height: 100vh;}

    .w50{width: 50%;}
    .w40{width: 40%;}
    /* =========================================================================
                                    Font-size & Font-family
    ========================================================================= */

    .fs-20{font-size: 20px;}
    .fs-25{font-size: 25px;}
    .fs-30{font-size: 30px;}
    .fs-40{font-size: 40px;}

    .Raleway{font-family: "Raleway:500", sans-serif;}
    .Raleway-bold{font-family: "Raleway:700", sans-serif;}

    .Pangolin{font-family: "Pangolin", sans-serif;}

    .Montserrat{font-family: 'Montserrat', sans-serif; font-weight: 500;}
    .Montserrat-bold{font-family: 'Montserrat', sans-serif; font-weight: 700;}

    /* =========================================================================
                                Color & Background & border
    ========================================================================= */

    .color-1{color: #B22222;}
    .white{color: #fff;}

    .borderb-1{border-bottom: 1px solid #fff;}
    
    .bg-red{background-color: red;}

    .bg-img{background: url('../img/background-ardoise.jpg') center center; background-size: cover;}

    /* =========================================================================
                                    Text align & decoration
    ========================================================================= */

    .no-decoration{text-decoration: none;}

    .list-style-none{list-style: none;}

    .text-justify{text-align: justify;}

/* =========================================================================
                                Spécifique
========================================================================= */

    /* =========================================================================
                                    NAV
    ========================================================================= */

    /* Effet hover */
    .color-nav{color: #F0F001;}
    .color-nav:hover{color: #fff;}

    .fixed-top{position: fixed; width: 100%; left:0; top:0;}
    .logo{width: 150px; height:150px;}



